body {
    margin: 0; /* Elimina el margen predeterminado del body */
    font-family: Arial, sans-serif; /* Establece la fuente para todo el documento */
}

.header {
    background-color: white;
    border-bottom: 1px solid white; /* Línea inferior sutil para separar el encabezado del contenido */
}

.navbar{
    justify-content: space-between; /* Espacia los elementos en la barra de navegación */
}